* {
    -fx-font-family: "Arial Rounded MT Bold", serif;
}

/* NameScene */
.nameScene-vBox {

    -fx-background-color: #ea4;
    -fx-background-radius: 20px;
    -fx-max-height: 75px;
    -fx-max-width: 180px;
    -fx-padding: 20px;
    -fx-spacing: 3px;
}

.nameScene-borderPane {

    -fx-background-color: #fb5;
}

.nameScene-button, .nameScene-textField {

    -fx-max-width: 140px;
    -fx-spacing: 100px 0 0 0;
}

/* LobbyScene */
.lobbyScene-hBox {

    -fx-background-color: #44b;
    -fx-background-radius: 20px;
    -fx-max-height: 300px;
    -fx-max-width: 500px;
    -fx-padding: 20px;
    -fx-spacing: 5px;
}

.lobbyScene-vBox {

    -fx-spacing: 3px;
}

.lobbyScene-chat {

    -fx-background-color: #fff;
    -fx-pref-width: 200px;
    -fx-pref-height: 250px;
    -fx-text-fill: #333;
    -fx-font-size: 10px;
}

.lobbyScene-borderPane {

    -fx-background-color: #55c;
}

.lobbyScene-textField {

    -fx-max-width: 125px;
    -fx-spacing: 100px 0 0 0;
}

.lobbyScene-button {

    -fx-translate-x: 128px;
    -fx-translate-y: -26px;
    -fx-max-width: 72px;
}

.lobbyScene-timer {

    -fx-font-size: 50px;
    -fx-text-fill: #fff;
}

